<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <ul class="mdl-mini-footer__link-list">
      <li><a href="http://tusach.viphat.work">Tủ sách</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Résumé</a></li>
    </ul>
  </div>
  <div class="mdl-mini-footer__right-section">
    <a href="https://twitter.com/viphat" class="mdl-mini-footer__social-btn" title="viphat's Twitter" target='_blank'>
      <i class="fa fa-twitter-square fa-2x"></i>
    </a>
    <a href="https://facebook.com/viphat" class="mdl-mini-footer__social-btn" title="viphat's Facebook" target='_blank'>
      <i class="fa fa-facebook-square fa-2x"></i>
    </a>
    <a href="https://github.com/viphat" class="mdl-mini-footer__social-btn" title="viphat's Github" target='_blank'>
      <i class="fa fa-github-square fa-2x"></i>
    </a>
    <a href="https://vn.linkedin.com/in/viphat" class="mdl-mini-footer__social-btn" title="viphat's Github" target='_blank'>
      <i class="fa fa-linkedin-square fa-2x"></i>
    </a>
  </div>
</footer>