#site-head {
  position: relative;
  width: 100%;
  margin-bottom: 5rem;
  text-align: center;
  color: rgb(115,154,124);
  background: #373C4F;
}

/* Hides shit */
.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none;
}

#blog-logo {
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}


#blog-logo img {
  display: block;
  max-height: 100px;
  width: auto;
  line-height: 0;
}

.mdl-mini-footer {
  border-top: #373C4F 1px solid;
  background: #373C4F;
}

.mdl-mini-footer--social-btn, .mdl-mini-footer__social-btn {
  background: #373C4F;
}

a.mdl-mini-footer--social-btn, a.mdl-mini-footer__social-btn {
  color: #fff;
  text-decoration: none;
  &:hover {
    color: #a3be8c;
  }
}

.post {
  position: relative;
  width:90%;
  max-width: 800px;
  margin: 4rem auto;
  padding-bottom: 4rem;
  border-bottom: #424650 1px solid;
  word-break: break-word;
  hyphens: auto;
}

.post-title {
  margin:0;
  color: #739a99;
  margin-bottom: 1.6em;
}

.post-title a {
  text-decoration: none;
}

.post-excerpt p {
  margin: 1.6rem 0 1.6rem 0;
  font-size: 0.9em;
  line-height: 1.6em;
}

.post-excerpt img {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-meta {
  display: inline-block;
  margin: 0 0 5px 0;
  font-size: 1.5rem;
  color: #846d8f;
}

.post-meta a {
  color: #846d8f;
  text-decoration: none;
}

.post-meta a:hover {
  text-decoration: underline;
}